
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap-material-design/scss/bootstrap-material-design.scss';

.wrapper {
  position: relative;
  flex-wrap: wrap;
}

.dropdown-menu.show-right {
  right:0 !important;
}

.jumbotron-content {
  position: absolute;
  top:5rem;
  left: 3rem;
}

.jumbotron-btn {
  position: absolute;
  bottom: 50%;
  margin-left: 40%;
}

.featured-products {
  position: relative;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-top: 3rem;
}