@import "~vuetify/dist/vuetify.min.css";

a {
	text-decoration: none;
}
.wrapper-fixed {
	margin-top: 4.7rem;
}

.bg-primary {
	background-color: #0f796f!important;
}

body {
	background-color: #f3f3f3 !important;
}

.v-select .dropdown-toggle {
	border-radius: 0 !important;
}

.navbar {
	z-index: 1000 !important;
}

.wrapper {
	position: relative;
	flex-wrap: wrap;
}

.dropdown-menu.show-right {
	right: 0 !important;
}

.jumbotron-content {
	position: absolute;
	top: 5rem;
	left: 3rem;
}

.jumbotron-btn {
	position: absolute;
	bottom: 50%;
	margin-left: 40%;
}

.featured-products {
	position: relative;
	margin-left: 15rem;
	margin-right: 15rem;
	padding-top: 3rem;
}

.main-content {
	margin-left: 21.5rem;
	-webkit-transition: width 2s;/* Safari */
	transition: all .2s ease-in-out; 
	// padding: 0 0.5rem;
	// padding: 3rem 0.5rem 0 0.5rem;
}

.sidebar {
	border-right: 1px solid #e2e2e2;
	position: fixed;
	width: 214px;
	top: 0;
	left: 0;
	padding-top: 85px;
	min-height: 100%;
	z-index: 900;
	max-height: 100%;
	overflow-y: auto;
	background-color: #fff;
}

ul.sidebar-nav {
	list-style: none;
	padding: 0;
}

ul.sidebar-nav>li {
	position: relative;
	text-align: left;
	margin: 0;
	padding: 0;
}

ul.sidebar-nav>li>a {
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	word-wrap: break-word;
	display: block;
	text-decoration: none;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 2px;
	font-size: 12px !important;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

ul.list-notification {
	list-style: none;
	padding-left: 0 !important;
}

ul.list-notification>li {
	text-align: center !important;
	position: relative;
}

ul.list-notification > li > a {
	padding: 0.5rem 0.5rem;
	font-size: 14px;
}

ul.sidebar-nav>li>a:hover,
ul.list-notification>li>a:hover,
ul.sidebar-nav>li>a.active {
	background-color: #0f796f;
	color: #fafafa;
}

.dropdown-menu.dropdown-navbar {
	right: 0;
	left: auto !important;
}

.list-notification > li > a{
	margin-right: 0!important;
	display: block;
}

ul.list-notification a:hover {
	text-decoration: none;
}

.badge-notif {
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown-toggle::after {
	display: none;
}

.cards-box {
	margin-bottom: 1rem;
}

.chart-box {
	background-color: #fff;
}

.footer {
	height: 70px;
	padding: 3rem;
	margin-top: 1rem;
	color:#fff;
}

.table td {
	vertical-align: middle !important;
}

.dropdown-menu {
	width: max-content;
}

.v-select.searchable .dropdown-toggle {
	border-top: none;
	border-left: none;
	border-right: none;
}
.v-select .dropdown-menu {
	border-top: 1px solid
}

.custom-select {
	border-top: none;
	border-left: none;
	border-right: none;
}

.custom-select:focus {
	// border-color: transparent !important;
	border-bottom: 1px solid rgba(0, 0, 0, .26)!important;
	box-shadow: none;
}

/*
 bootstrap material design
*/

.bg-primary {
	background-color: #009688 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
	background-color: #00635a !important;
}

.bg-secondary {
	background-color: #6c757d !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
	background-color: #545b62 !important;
}

.bg-success {
	background-color: #4caf50 !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
	background-color: #3d8b40 !important;
}

.bg-info {
	background-color: #03a9f4 !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
	background-color: #0286c2 !important;
}

.bg-warning {
	background-color: #ff5722 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
	background-color: #ee3900 !important;
}

.bg-danger {
	background-color: #f44336 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
	background-color: #ea1c0d !important;
}

.bg-light {
	background-color: #f5f5f5 !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
	background-color: gainsboro !important;
}

.bg-dark {
	background-color: #424242 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
	background-color: #292929 !important;
}

.bg-white {
	background-color: #fff !important;
}

@media (max-width: 768px) {
	.main-content {
		margin-left: 0;
	}
}